modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
publicDir = "dist/public"
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 43381
externalPort = 3000

[[ports]]
localPort = 43657
externalPort = 3001

[[ports]]
localPort = 44017
externalPort = 4200

[[ports]]
localPort = 46659
externalPort = 3002

[[ports]]
localPort = 46665
externalPort = 3003

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
mockupState = "FULLSTACK"
integrations = ["javascript_openai:1.0.0"]

[userenv]

[userenv.shared]
NEXT_PUBLIC_STACK_PROJECT_ID = "3ce4310e-ebb7-4170-9a9e-1ae402610cc1"
NEXT_PUBLIC_STACK_PUBLISHABLE_CLIENT_KEY = "pck_ppmfx8bpmyn845vbpacnd3erp1dpjc541zhh99ynya5d8"
